.button_admin {
  width: 180px; 
  background-color: transparent; 
  color: var(--azul_general); 
  border: 2px solid var(--azul_general);
} 

.hader__admin {
  padding: 10px; 
  width: auto;
} 

.titulo__admin {
  font-size: 14px;
}